# Open man page as PDF
function manpdf() {
 man -t "${1}" | open -f -a /Applications/Preview.app/
}

# Open query in Dash app
dash() {
  case $# in
    1) QUERY="$1";;
    2) QUERY="$1%3A$2";; # %3A is : char
    *) echo "Usage: dash [docset] query"; return 1;
  esac
  open "dash://$QUERY"
}

# Weather
meteo() {
  local LOCALE
  LOCALE=$(echo "${LANG:-en}" | cut -c1-2)
  if [ $# -eq 0 ]; then
    local LOCATION
    LOCATION=$(curl -s ipinfo.io/loc)
  else
    local LOCATION=$1
  fi
  curl -s "$LOCALE.wttr.in/$LOCATION"
}

# UPDATE 2022-01-04: Running yq as docker container makes it tedious to update yaml in place using environment variables
# therefore, just install it using brew
# yq() {
#   docker run --rm -i -v "${PWD}":/workdir mikefarah/yq "$@"
# }

dive() {
  docker run --rm -it -v /var/run/docker.sock:/var/run/docker.sock wagoodman/dive:latest "$@"
}

kcat() {
  docker run -it --network=host edenhill/kcat:1.7.0 "$@"
}

# Create a file and directories in the path along the way
touch2() { mkdir -p "$(dirname "$1")" && touch "$1" ; }
