# Open man page as PDF
function manpdf() {
 man -t "${1}" | open -f -a /Applications/Preview.app/
}

# Open query in Dash app
dash() {
  case $# in
    1) QUERY="$1";;
    2) QUERY="$1%3A$2";; # %3A is : char
    *) echo "Usage: dash [docset] query"; return 1;
  esac
  open "dash://$QUERY"
}

# Weather
weather() {
  local LOCALE
  LOCALE=$(echo "${LANG:-en}" | cut -c1-2)
  if [ $# -eq 0 ]; then
    local LOCATION
    LOCATION=$(curl -s ipinfo.io/loc)
  else
    local LOCATION=$1
  fi
  curl -s "$LOCALE.wttr.in/$LOCATION"
}

dive() {
  docker run --rm -it -v /var/run/docker.sock:/var/run/docker.sock wagoodman/dive:latest "$@"
}

kcat() {
  docker run -it --rm --network=host edenhill/kcat:1.7.0 "$@"
}

# Create a file and directories in the path along the way
touch2() { mkdir -p "$(dirname "$1")" && touch "$1" ; }

pdftools(){
  docker run -d \
    -p 8888:8080 \
    -v "$HOME"/.config/stirling-pdf/trainingData:/usr/share/tessdata \
    -v "$HOME"/.config/stirling-pdf/extraConfigs:/configs \
    -v "$HOME"/.config/stirling-pdf/logs:/logs \
    -e DOCKER_ENABLE_SECURITY=false \
    -e INSTALL_BOOK_AND_ADVANCED_HTML_OPS=false \
    -e LANGS=en_US \
    --name stirling-pdf \
    --rm \
    stirlingtools/stirling-pdf:latest

  echo "stirling-pdf available at http://localhost:8888"
}
