[user]
	name = Omkar Patil
	email = ospatil@gmail.com
[url "https://"]
	insteadOf = git+https://
[push]
	default = simple
	autoSetupRemote = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches
	ignore = "!gi() { curl -sL https://www.gitignore.io/api/$@ ;}; gi"
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)%an <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
[http]
	postBuffer = 157286400
[core]
	editor = code --wait --new-window
	pager = less -FMRiX
[diff]
	tool = vscode
[merge]
	tool = vscode
[init]
	defaultBranch = main
[color]
	ui = auto
[credential]
	helper = osxkeychain
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[mergetool "vscode"]
	cmd = code --wait $MERGED
